.home-page {
  background: linear-gradient(to right, white, $light-domo-blue);
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
  }

  .sub-header {
    height: 40px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $domo-blue;
    font-weight: 500;

    a {
      color: $dark-font-gray;
    }
  }

  .hero-section {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-top: 100px;
    padding-left: 20px;

    .hero-wording {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%;
      padding: 30px;
      gap: 5px;

      .title {
        font-size: 40px;
        font-weight: 10;
        letter-spacing: 1px;
        color: $dark-font-gray;
      }

      .text {
        font-size: 16px;
        font-weight: 100;
        color: $light-font-gray;
        line-height: 25px;
      }

      .buttons {
        width: 60%;
        display: flex;
        gap: 20px;
        padding-bottom: 30px;

        .button {
          height: 40px;
          border-radius: 5px;
          cursor: pointer;
          letter-spacing: 1px;
        }

        .try-free {
          width: 120px;
          background-color: $button-orange;
          border: none;

          &:hover {
            background-color: orange;
            color: black;
          }
        }

        .watch-demo {
          width: 150px;
          border: solid 1px $dark-domo-blue;
          color: $dark-domo-blue;
          background-color: transparent;

          &:hover {
            background-color: $faded-light-blue;
          }
        }
      }
    }

    .hero-picture {
      img {
        width: 500px;
        height: 375px;
      }
    }
  }

  .data-section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    gap: 20px;

    .data-card {
      display: grid;
      grid-template-rows: 1fr auto;
      justify-content: left;
      align-content: flex-start;
      width: 200px;
      height: 190px;
      background-color: white;
      border-bottom: solid 3px;
      border-bottom-color: $domo-blue;
      border-radius: 10px 10px 0 0;
      padding: 20px 20px 10px;
      margin-top: 5px;
      transition: margin 0.3s ease;
      cursor: pointer;

      div {
        .title {
          font-size: 20px;
        }

        .text {
          margin-top: 10px;
          font-size: 14px;
          font-weight: 100;
          color: $light-font-gray;
          letter-spacing: 1px;
          line-height: 20px;
        }
      }

      .link {
        width: fit-content;
        align-self: flex-end;
        font-size: 14px;
        font-weight: 500;
        color: $dark-domo-blue;
        padding: 8px;
        border-radius: 5px;
      }

      &:hover {
        margin-top: -0;

        .link {
          background-color: $faded-light-blue;
        }
      }
    }
  }

  .trusted-by {
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;

    .title {
      color: $font-gray;
      font-size: 14px;
    }

    .logos {
      display: flex;
      gap: 80px;

      .logo {
        img {
          width: 90px;
          height: 90px;
        }
      }
    }
  }

  .xp-platform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    gap: 50px;

    .title {
      font-size: 36px;
      color: $font-gray;
      font-weight: 100;
    }

    .xp-sections {
      display: flex;
      justify-content: space-between;
      width: 70%;

      .xp-section {
        width: 25%;

        .section-title {
          padding: 30px 40px;
          text-align: center;
          color: $light-font-gray;
          font-size: 20px;
          font-weight: 500;
          cursor: pointer;
          border-bottom: solid 3px;
          border-bottom-color: rgb(85, 85, 85, 0.3);

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .multipliers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 20px;

    .title {
      font-size: 32px;
      letter-spacing: 2px;
      font-weight: 100;
      color: #111111;
    }

    .text {
      width: 53%;
      text-align: center;
      letter-spacing: 1px;
      line-height: 25px;
      color: $light-font-gray;
      font-weight: 200;
    }
  }

  .empower {
    width: 70%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .wording {
      // width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      padding-right: 30px;

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        letter-spacing: 1px;

        .title {
          font-size: 26px;
          letter-spacing: 1px;
        }

        .text {
          color: $light-font-gray;
          font-weight: 200;
          line-height: 23px;
        }

        .link {
          width: fit-content;
          background-color: $light-domo-blue;
          padding: 15px 25px;
          margin-top: 10px;
          border-radius: 5px;
          font-size: 14px;
          letter-spacing: 1px;

          a {
            color: $font-gray;
          }

          &:hover {
            background-color: $domo-blue;
            cursor: pointer;
          }
        }
      }
    }

    .picture {
      // width: 50%;
      img {
        width: 470px;
        height: auto;
      }
    }
  }

  .roi {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    color: white;
    margin-top: 50px;
    gap: 30px;
    letter-spacing: 1px;
    padding: 80px 0;

    .title {
      font-size: 36px;
      font-weight: 100;
    }
    .text {
      font-weight: 100;
    }

    .text-reference {
      font-size: 12px;
    }
    img {
      width: 151px;
      height: 24px;
    }

    .roi-for {
      display: flex;
      flex-direction: column;
      align-items: center;

      .roi-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 30px;

        .title {
          font-size: 20px;
        }
        .info-cards {
          display: flex;
          gap: 20px;

          .card {
            width: 335px;
            height: 95px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // gap: 10px;
            background-color: rgb(1, 1, 1, 0.5);
            border-radius: 10px;

            .title {
              font-size: 28px;
              color: $domo-blue;
              margin-top: 0;
            }
            .text {
              font-weight: 300;
            }
          }
        }
        .link {
          font-size: 12px;
          color: $domo-blue;
        }
      }
      .reference {
        font-size: 12px;
        font-weight: 300;
        padding: 0 390px;
        text-align: center;
        line-height: 20px;
      }
    }

    .line {
      width: 100%;
      padding: 1px;
      background-color: $light-font-gray;
    }
  }

  .recognized {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0;
    gap: 30px;

    .title {
      width: 60%;
      font-size: 36px;
      font-weight: 100;
    }

    .recognition-cards {
      // width: 75%;
      display: flex;
      gap: 15px;

      a {
        .recognition-card {
          width: 245px;
          height: 325px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          background-color: white;
          border-radius: 5px;
          cursor: pointer;

          img {
            height: 50px;
          }

          .gartner {
            width: 150px;
          }

          .dresner {
            width: 75px;
          }

          .gartner-peer {
            width: 75px;
          }

          .nucleus {
            width: 75px;
          }

          .title {
            width: 70%;
            font-size: 20px;
            font-weight: 500;
            color: black;
          }

          .text {
            color: $light-font-gray;
            letter-spacing: 1px;
            line-height: 20px;
            font-weight: 100;
            font-size: 14px;
            padding: 0 9px;
          }

          .link {
            font-size: 13px;
            color: $dark-domo-blue;
            letter-spacing: 1px;
            padding: 10px;
            border-radius: 5px;
          }

          &:hover {
            .link {
              background-color: $light-domo-blue;
              // padding: 5px 10px;
            }
          }
        }
      }
    }
  }

  .why-love-domo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1025px;
    height: 185px;
    padding: 25px 0;
    background-color: $domo-blue;
    border-radius: 5px;

    .title {
      font-size: 24px;
      color: $font-gray;
    }

    .leader-container {
      display: flex;

      img {
        width: 100px;
        height: 125px;
      }
    }
  }

  .accolade {
    margin-top: 50px;
    margin-bottom: 80px;

    a {
      border: solid 1px $dark-domo-blue;
      font-size: 14px;
      border-radius: 5px;
      padding: 11px 23px;
      color: $dark-domo-blue;

      &:hover {
        background-color: $faded-light-blue;
      }
    }
  }
}
