.testimonials-container {
  // background-color: $domo-blue;
  width: 60%;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
  gap: 20px;

  .testimonial {
    div {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 10px;

      .title {
        align-self: center;

        img {
          width: 100px;
          height: 100px;
          margin: 10px 0;
        }
      }
      .big {
        img {
          width: 250px;
        }
      }

      .quote {
        padding: 0 60px;
        text-align: center;
        color: $dark-font-gray;
        font-weight: 600;
        line-height: 25px;
      }

      .head-shot {
        align-self: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }
      }
      .name {
        color: $dark-font-gray;
        font-size: 14px;
        font-weight: 600;
      }
      .title {
        font-size: 14px;
        color: $light-font-gray;
      }
    }
  }

  .selector-wrapper {
    display: flex;
    align-items: center;
    height: 18px;

    .testimonial-selector {
      margin: 0 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .circle {
      margin: 4px 2px;
      padding: 5px 5px;
      background-color: rgb(85, 85, 85, 0.5);
      border-radius: 5px;
    }
  }
}
