$domo-blue: #99ccee;
$dark-domo-blue: #266296;
$light-domo-blue: #d1e9fc;
$faded-light-blue: rgba(153, 204, 238, 0.2);

$font-gray: #424242;
$dark-font-gray: #171717;
$light-font-gray: #555555;

$button-orange: rgb(255, 165, 0, 0.8);
